<div class="example-container mat-elevation-z8">
  <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter users">
    </md-input-container>
  </div>
  <div
    class="example-header example-selection-header"
    *ngIf="!selection.isEmpty()">
    {{selection.selected.length}}
    {{selection.selected.length == 1 ? 'user' : 'users'}}
    selected
  </div>

  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="select">
      <md-header-cell *cdkHeaderCellDef>
        <md-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"></md-checkbox>
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row.id) : null"
          [checked]="selection.isSelected(row.id)"></md-checkbox>
      </md-cell>
    </ng-container>

    <!-- Foto Column -->
    <ng-container cdkColumnDef="foto">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        Foto
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <a (click)="gotoDetail(row.foto)">Fotografía Nº{{row.id}}</a>
      </md-cell>
    </ng-container>

    <!-- Obra Column -->
    <ng-container cdkColumnDef="obra">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        Obra
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        {{row.obra}}
      </md-cell>
    </ng-container>

    <!-- ST Column -->
    <ng-container cdkColumnDef="st">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        ST
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        {{row.st}}
      </md-cell>
    </ng-container>

    <!-- Folio Column -->
    <ng-container cdkColumnDef="folio">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        Folio
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        {{row.folio}}
      </md-cell>
    </ng-container>

    <!-- Profesional Column -->
    <ng-container cdkColumnDef="profesional">
      <md-header-cell *cdkHeaderCellDef md-sort-header>
        Profesional
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        {{row.profesional}}
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row
      *cdkRowDef="let row; columns: displayedColumns;"
      [class.example-selected-row]="selection.isSelected(row.id)"
      (click)="selection.toggle(row.id)"></md-row>
  </md-table>

  <div
    class="example-no-results"
    [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No users found matching filter.
  </div>

  <md-paginator
    #paginator
    [length]="dataSource.filteredData.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>
</div>
