<md-card>
  <md-card-title>BUSCADOR DE IMÁGENES
  </md-card-title>
  <div fxLayout="row"></div>
  <md-card-subtitle>FILTROS</md-card-subtitle >
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <md-card>
      <app-filter-time>Loading filter time...</app-filter-time>
      <button md-raised-button>Buscar</button>
    </md-card>
  </form>

  <md-card-content>
    <md-card style="background-color:rgba(176,224,230,0.2);">
      <md-card-title>RESULTADOS</md-card-title>
    </md-card>
  </md-card-content>
</md-card>
