<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <h1 style="color:lightblue; padding-left:2cm">
      {{title}}
    </h1>
  </div>
</nav>

<div class="col-md-1" style="background:#A9E2F3; height:100%"></div>
<div class="col-xs-12 col-md-10 " id="background_image">
  <!--Filtrador-->
  <div class="col-md-3"></div>
  <div class="col-md-8" style="padding-top:5%;">
    <div class="col-m-1"></div>
    <div class="col-md-10">
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        novalidate
        class="col-md-12"
        style="background:#A9E2F3;border: 2px solid blue; border-radius: 10px 10px 10px 10px;">
        <h5>
          <div class="col-md-3">
            <md-input-container>
              <input
                mdInput
                placeholder="Fecha inicial"
                type="date"
                name="start"
                step="1"
                min="2015-01-01"
                max="2017-12-31"
                [ngModel]="startDate | date:'yyyy-MM-dd'"
                required
                #end="ngModel">
            </md-input-container>
          </div>

          <div class="col-md-6">
            <md-input-container>
              <input
                mdInput
                placeholder="Fecha final"
                type="date"
                name="end"
                step="1"
                min="2015-01-01"
                max="2017-12-31"
                [ngModel]="endDate | date:'yyyy-MM-dd'"
                required
                #end="ngModel">
            </md-input-container>
          </div>

          <button md-raised-button id="b_filter">Filtrar</button>

        </h5>

      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="col-md-2"></div>
  <!--Imagenes-->

  <!--Tabla-->

</div>
<div class="col-md-1" style="background:#A9E2F3; height:100%"></div>
