.navbar {
  margin-bottom: 0;
}

#background_image {
  background-image: url("../assets/back.jpg");
  height: 100%;
  background-size: contain;
  z-index: 1;
}

#b_button {
  color: white;
  background-color: #A9E2F3;
}
